* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

#main-div {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.label-div {
    display: flex;
}

.building-div {
    display: flex;
}

.building-name {
    display: flex;
    justify-content: space-between;
    width: 5rem;
}

.building-grandma-boost {
    margin-right: 0.3rem;
}

.building-number {
    width: 2rem;
}

.building-doubles {
    width: 2rem;
}

.building-cost {
    width: 3.5rem;
}

.building-CpS {
    width: 3.5rem;
}

.building-buy {
    width: 3.5rem;
}

.building-upgrade {
    width: 3.5rem;
}

#prod-div {
    display: flex;
}

#prod-div > * {
    width: 8rem;
}

#prodBoosts-div {
    display: flex;
}

.prod-milk {
    width: 2rem;
    margin-right: 0.5rem;
}

.prod-flavor {
    width: 1.75rem;
    margin-right: 0.5rem;
    /* border: 1px;
    border-color: black;
    border-style: solid; */
}

#prodUpgrade {
    width: 4rem;
}

.kitten-div {
    display: flex;
    text-align: center;
}

.kitten-div > * {
    width: 5rem;
}